/* Roz Styles */
/* 
  Yellow color - f8c301 
  Light Blue - 92c7cd
*/

/* General Styles */
body, html {
  height: 100%;
}

.wrap {
  background: #000;
  color: #fff;
}

.wrap, .humano-bg-wrap, .fotos {
  min-height: 100%;
}

.wrap a, 
.wrap a:active,
.wrap a:visited,
footer a, 
footer a:active,
footer a:visited  {
  color: #f8c301;
}

.wrap a:hover,
footer a:hover {
  color: #92c7cd;
  text-decoration: none;
}

.container {
  overflow:auto;
  padding-bottom: 40px;
}

/* Header styles */
header h3 {
  font-weight: 200;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

/* Video background styles */
.humano-bg-wrap {
  height: 100vh;
  left:0%;
  overflow: hidden;
  position: absolute;
  top:0%;
  width:100%;
}

/* Sidebar styles */
.social-media {
  padding: 50% 0 0 0;
  text-align: center;
}

.social-media li {
  margin: 5% 0;
}

/* Image Gallery Styles */


/* Footer styles */
footer {
  clear: both;
  color: #ccc;
  height: 40px;
  margin-top: -40px;
  position: relative; 
} 

