/* Roz Styles */
body, html {
  height: 100%;
}

.wrap {
  background: #000;
  color: #fff;
}

.wrap, .humano-bg-wrap, .fotos {
  min-height: 100%;
}

.wrap a {
  color: #fff;
}

.container {
  overflow:auto;
  padding-bottom: 40px;
}

/* Video background styles */
.humano-bg-wrap {
  height: 100vh;
  left:0%;
  overflow: hidden;
  position: absolute;
  top:0%;
  width:100%;
}

/* Sidebar styles */
.social-media {
  padding: 10% 0 0 0;
  text-align: center;
}

.social-media li {
  margin: 5% 0;
}

/* Image Gallery Styles */


/* Footer styles */
footer {
  clear: both;
  color: #ccc;
  height: 40px;
  margin-top: -40px;
  position: relative; 
} 

