<div class="row humano-main">
  <div class="col-xs-2 col-xs-offset-10">
    <ul class="list-unstyled social-media">
      <li><a href="https://www.youtube.com/channel/UCQla9eCWAZvZ_RKYGh9ltIQ" target="_blank"><i class="fa fa-youtube-square fa-4x"></i></a></li>
      <li><a href="https://www.facebook.com/HumanoOficial" target="_blank"><i class="fa fa-facebook-square fa-4x"></i></a></li>
      <li><a href="https://www.twitter.com/humanomusic" target="_blank"><i class="fa fa-twitter-square fa-4x"></i></a></li>
      <li><a href="mailto:humanoled@gmail.com" target="_blank"><i class="fa fa-envelope-square fa-4x"></i></a></li>
    </ul>
  </div>
</div>

<div class="row footer">
  <div class="col-xs-12">
    <iframe src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:5Z7ygHQo02SUrFmcgpwsKW,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe" frameborder="0" allowtransparency="true">
    </iframe>
  </div>
</div>


