<ul class="list-unstyled social-media">
  <li><a href="https://www.youtube.com/channel/UCQla9eCWAZvZ_RKYGh9ltIQ" target="_blank"><i class="fa fa-youtube-square fa-4x"></i></a></li>
  <li><a href="https://www.facebook.com/HumanoOficial" target="_blank"><i class="fa fa-facebook-square fa-4x"></i></a></li>
  <li><a href="https://www.twitter.com/humanomusic" target="_blank"><i class="fa fa-twitter-square fa-4x"></i></a></li>
  <li><a href="mailto:humanoled@gmail.com"><i class="fa fa-envelope-square fa-4x"></i></a></li>
  <li><a href="#/fotos"><i class="fa fa-camera-retro fa-4x"></i></a></li>
</ul>

